section.publish-quote(data-aos="fade-right")
    .publish-quote__container.container

        .blockquote.blockquote--primary.publish-quote__blockquote
            .blockquote__inner
                p.publish-quote__blockquote-header Руссийон в своей статье «Работа символизации» пишет
                blockquote Первичная психическая материя должна быть психически метаболизирована (П.Оланье, Ж.Лапланш) и эта метаболизация - ключ психической интеграции - осуществится посредством процесса символизации. Сей процесс символизации делает возможным процесс субьективации, процесс присвоения или субьективной интеграции, т.е. процесс, посредством которого человек присваивает себе свой собственный пережитый опыт.



