section.feedback
    .feedback__container.container
        .feedback__body
            form.feedback__form
                .feedback__form-header
                    h3.feedback__form-title Напишите мне
                    p.feedback__form-subtitle через эту форму, и я Вам обязательно&nbsp;отвечу

                input.feedback__form-input(type="text" placeholder="Ваше имя")
                input.feedback__form-input(type="text" placeholder="Телефон" data-tel-input)
                textarea.feedback__form-input(placeholder="Сообщение" rows="4")
                button.feedback__form-submit(type="submit") Отправить

            .feedback__info
                h2.title-section Я приглашаю Вас
                p.feedback__info-text в индивидуальный психоанализ и/или групповую терапию. Практика показывает, что потребность и необходимость групповой психотерапии (групп-анализа) возникает всегда в ходе индивидуальной работы. Это взаимообогащающие инструменты познания себя.
                p.feedback__info-email-text Напишите мне на почту и мы договоримся о встрече
                a.feedback__email(href="mailto:kseniabarke@gmail.com") kseniabarke@gmail.com
                a.feedback__tel(href="tel:+79366660016") 8 936 666 00 16

