section.feedback
    .feedback__container.container
        .feedback__body
            include feedback-form

            .feedback__info
                p.feedback__info-email-text Напишите мне на почту и мы договоримся о встрече
                a.feedback__email(href="mailto:kseniabarke@gmail.com") kseniabarke@gmail.com
                a.feedback__tel(href="tel:+79366660016") 8 936 666 00 16