@import "containers"

section
  scroll-margin: 130px
  @include mobile
    scroll-margin: 80px


.title-section
  font-family: "ViaodaLibre", sans-serif
  text-transform: uppercase
  @include fontSize(36, 64)
  color: $primary
  margin-bottom: 32px
  line-height: 1.1
  @include mobile
    text-transform: initial
    margin-bottom: 24px

.flex-center
  display: flex
  align-items: center
  justify-content: center


.button
  position: relative
  display: flex
  align-items: center
  justify-content: center
  font-weight: 500
  padding: 14px 32px
  min-height: 42px
  transition: $transition
  line-height: 1
  width: fit-content
  font-size: 14px
  border-radius: 32px
  user-select: none
  overflow: hidden
  white-space: nowrap


.font-decor
  font-family: "ViaodaLibre", sans-serif
  line-height: 1


.scroll-margin
  scroll-margin: 120px
  @include mobile
    scroll-margin: 70px


.blockquote
  display: inline-flex
  gap: 20px
  position: relative
  @include fontSize(14, 16)
  &::before,
  &::after
    content: ""
    display: inline-block
    width: 50px
    height: 40px
    flex: 0 0 50px
    background-size: contain
    background-repeat: no-repeat
    background-position: center
    @include tablet
      width: 40px
      height: 32px
      flex: 0 0 40px
  &::after
    margin-top: auto
    transform: rotate(180deg)
  &.blockquote--light
    &::before,
    &::after
      background-image: url("../img/icons/quotes-open-grey.svg")
  &.blockquote--primary
    &::before,
    &::after
      background-image: url("../img/icons/quotes-open-primary.svg")

  &__inner
    display: flex
    flex-direction: column
    gap: 4px

  blockquote
    font-style: italic
  cite
    font-weight: 500
    font-style: normal

.semibold
  font-weight: 600


.note
  display: flex
  flex-direction: column
  gap: 40px
  position: relative
  font-style: italic
  width: 40%
  @include fontSize(24, 32)
  margin: 30px 20px 30px 80px
  float: right
  text-align: left
  @include tablet
    margin: 40px
  @include mobile
    display: none
  &::before
    content: ""
    display: inline-block
    background-image: url("../img/icons/note-decor.svg")
    width: 260px
    height: 14px
    background-size: cover
    background-position: center
    background-repeat: no-repeat





