section.article-about
    .article-about__container.container
        h2.title-section С какими темами <br> я работаю

        .article-about__body
            .note Психотерапия <br> — это путешествие, а не пункт назначения
            p Я придерживаюсь мнения, что #[span.semibold личность человека] всегда #[span.semibold многогранна], и все, что внутри нас, все темы, с которыми мы изначально обращаемся к психотерапевту, взаимосвязаны и переплетены. Ни одна тема не возникает отдельно от чего-то еще. Например, #[span.semibold отношения с нынешними партнерами связаны всегда с первичными отношениями в нашей жизни], с отношениями в семье. Или, поиск ощущения своего места или, например, смысла в работе – с нашей идентичностью. А депрессивное состояние – с потерей чего-то важного внутри себя, и необходимостью это #[span.semibold найти и вернуть, присвоить себе].
            p Ни одна тема, возникающая в кабинете психотерапевта, не является изолированной. Всегда есть что-то еще. Что-то скрытое. #[span.semibold И тогда психотерапия становится путешествием], превращается в исследование себя и всего, что живет внутри.