section.article-about
    .article-about__container.container.line-top
        h2.title-section.article-about__title(data-aos="fade-right") История рождения <br> Символизации

        .article-about__body(data-aos="fade-right" data-aos-delay="150")
            .note Издательство планирует сделать доступной на русском языке важную литературу по психоанализу, которую считает фундаментальной для современного психоанализа.
            p Со временем, в ходе работы с клиентами, в процессе написания научных работ, чтения многочисленной литературы, приходит четное и ясное понимание – как же много важной и глубокой литературы по психоанализу не переведено на русский язык. Наше издательство ставит перед собой цель делать доступными на русском языке те работы, которые фундаментальны, на наш взгляд, для современного психоанализа.
            p Мы планируем переводить и издавать не только сложные и весомые книги, но и также статьи, которые вы уже можете найти на этом сайте. Наша команда состоит из тех, кто неравнодушен к психоанализу – психотерапевтов, психоаналитиков и талантливых переводчиков, которые специализируются именно на психоаналитическом переводе. Поэтому мы делаем качественные тексты.
            p Название издательства появилось не случайно. Символизация – одно из ключевых понятий в психоанализе. Это механизм, придающий психическую форму телесным переживаниям, по мнению Биона. Только на депрессивной позиции по Мелания Кляйн появляется способность к зрелой символизации.
            p И именно процесс символизации лежит в основе образования психического аппарата и функции мышления.