section.articles
    .articles__container.container
        h1.title-section.articles__title Материалы и статьи


        .articles__list

            a.articles__item(href="")
                h2.articles__item-caption Историческое в индивидуальном: концептуализация психической и коллективной травмы во французском психоанализе
                .articles__item-text
                    p Данная статья рассматривает историю развития представлений о психической травме. Автор рассматривает взгляды современных французских психоаналитиков, таких как Рене Каэс, Франсуаза Давуан и Жан-Макс Годийер на коллективную травму и проявление исторического коллективного опыта в индивидуальной истории.

            a.articles__item(href="")
                h2.articles__item-caption Историческое в индивидуальном: концептуализация психической и коллективной травмы во французском психоанализе
                .articles__item-text
                    p Данная статья рассматривает историю развития представлений о психической травме. Автор рассматривает взгляды современных французских психоаналитиков, таких как Рене Каэс, Франсуаза Давуан и Жан-Макс Годийер на коллективную травму и проявление исторического коллективного опыта в индивидуальной истории.

            a.articles__item(href="")
                h2.articles__item-caption Историческое в индивидуальном: концептуализация психической и коллективной травмы во французском психоанализе
                .articles__item-text
                    p Данная статья рассматривает историю развития представлений о психической травме. Автор рассматривает взгляды современных французских психоаналитиков, таких как Рене Каэс, Франсуаза Давуан и Жан-Макс Годийер на коллективную травму и проявление исторического коллективного опыта в индивидуальной истории.

            a.articles__item(href="")
                h2.articles__item-caption Историческое в индивидуальном: концептуализация психической и коллективной травмы во французском психоанализе
                .articles__item-text
                    p Данная статья рассматривает историю развития представлений о психической травме. Автор рассматривает взгляды современных французских психоаналитиков, таких как Рене Каэс, Франсуаза Давуан и Жан-Макс Годийер на коллективную травму и проявление исторического коллективного опыта в индивидуальной истории.

            a.articles__item(href="")
                h2.articles__item-caption Историческое в индивидуальном: концептуализация психической и коллективной травмы во французском психоанализе
                .articles__item-text
                    p Данная статья рассматривает историю развития представлений о психической травме. Автор рассматривает взгляды современных французских психоаналитиков, таких как Рене Каэс, Франсуаза Давуан и Жан-Макс Годийер на коллективную травму и проявление исторического коллективного опыта в индивидуальной истории.

            a.articles__item(href="")
                h2.articles__item-caption Историческое в индивидуальном: концептуализация психической и коллективной травмы во французском психоанализе
                .articles__item-text
                    p Данная статья рассматривает историю развития представлений о психической травме. Автор рассматривает взгляды современных французских психоаналитиков, таких как Рене Каэс, Франсуаза Давуан и Жан-Макс Годийер на коллективную травму и проявление исторического коллективного опыта в индивидуальной истории.
