section.hero
    .hero__container.container
        .hero__content(data-aos="fade-right")
            h1.hero__title.font-decor Ксения <br> Барке
            .hero__nameplate
                span Психотерапевт
                span &bull;
                span Клинический психолог

            a.button-tg(href="https://t.me/symbolisierung" target="_blank") telegram-канал

        .hero__img-wrap(data-da=".hero__content, 1100, 1" data-aos="fade-right" data-aos-delay="150")
            picture.hero__img
                source(srcset='./assets/img/hero-img-mobile.png' media="(max-width: 1100px)")
                img(src='./assets/img/hero-img.png' alt="Фото Ксении Барке")

            span.hero__decor.hero__decor--top
            span.hero__decor.hero__decor--top-right
            span.hero__decor.hero__decor--bottom-right
