footer.footer#footer
    .footer__container.container
        span.footer__author.font-decor Барке Ксения Андреевна
        span.footer__profession Психотерапевт, клинический психолог
        span.footer__copyright © 2024