footer.footer#footer
    .footer__container.container
        span.footer__author.font-decor Барке Ксения Андреевна
        span.footer__inn ИНН 246316523369
        a.footer__email(href="mailto: kseniabarke@gmail.com") kseniabarke@gmail.com
        a.footer__tel(href="tel:89366660016") 8 936 666 00 16
        span.footer__profession Психотерапевт, клинический психолог
        br
        a.footer__docs(href="./assets/files/offer-robokassa.pdf" target="_blank") Оферта
        a.footer__docs(href="./assets/files/policy.pdf" target="_blank") Политика обработки персональных данных
        a.footer__docs(href="./assets/files/personal-data.pdf" target="_blank") Политика конфиденциальности

        span.footer__copyright © 2026


button.btn-up
    img(src="./assets/img/icons/up.svg")

a.whatsapp(href="https://wa.me/79366660016" target="_blank" title="WhatsApp")
    img(src="./assets/img/icons/whatsapp.svg")