extends ../layouts/main

block variables
  - var title = "Ксения Барке | Эхо бессознательного аффекта"

block content

    include ../blocks/article/ekho-bessoznatelnogo-affekta
    include ../blocks/feedback/feedback-short