extends ../layouts/main

block variables
    - var title = "Ксения Барке | Психотерапевт, Клинический психолог"

block content
    include ../blocks/hero/hero
    include ../blocks/education/education
    include ../blocks/article-about/article-about-theme
    include ../blocks/article-about/article-about-ethics
    include ../blocks/services/services
    include ../blocks/feedback/feedback
    include ../blocks/books/books