extends ../layouts/main

block variables
  - var title = "Ксения Барке | Историческое в индивидуальном"

block content

    include ../blocks/article/historical-in-individual
    include ../blocks/feedback/feedback-short