extends ../layouts/main-publish

block variables
  - var title = "Ксения Барке | Издательство"

block content
    include ../blocks/hero-publish/hero-publish
    include ../blocks/article-about/article-about-publish
    include ../blocks/publish-quote/publish-quote
    include ../blocks/feedback/feedback