extends ../layouts/main

block variables
  - var title = "Ксения Барке | Отклик травматического"

block content

    include ../blocks/article/otklik-travmaticheskogo
    include ../blocks/feedback/feedback-short