section.hero-publish(data-aos="fade-right")
    .hero-publish__container.container
        h1.hero-publish__title.title-section Символизация
        h2.hero-publish__subtitle Издательство <br> психоаналитической <br> литературы
        span.hero-publish__note Мы делаем важное доступным