section.books
    .books__container.container
        .books__header
            h2.title-section Книги
            span.books__subtitle под научной редакцией Ксении Барке

        .swiper.books__slider
            .swiper-wrapper
                .swiper-slide
                    img(src="./assets/img/book/01.jpg")
                .swiper-slide
                    img(src="./assets/img/book/02.jpg")
                .swiper-slide
                    img(src="./assets/img/book/03.jpg")
                .swiper-slide
                    img(src="./assets/img/book/04.jpg")

            button.swiper-prev
            button.swiper-next
